@page
@model IndexModel
@using Rystem.Test.WebApp
@inject ServiceLocator ServiceLocator
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div> @{
            ServiceLocator.GetService<RandomService>().X.ToString();
        } </div>
</div>
